@{
    ViewData["Title"] = "Home";
}
@{
    <div class="row">
        <h1>Welcome!</h1>
        <p>Use the navigation bar to register, login, logout, and attempt to access a secured resource.</p>
    </div>
}
