@model List<HelloMvc.Models.Contact>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello ASP.NET : Contacts</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Contacts List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.ContactID</td>
                    <td>@contact.Name</td>
                    <td>@contact.Email</td>
                </tr>
            }
        </tbody>
    </table>
    <p>&copy; @DateTime.Today.Year</p>
</body>
</html>