@{
    ViewData["Title"] = "Library Management Homepage";
}

<div class="text-center mt-4">
    <h1 class="mb-3">Welcome to the Library Manager</h1>
    <p class="mb-4">
        This application allows for managing borrowers, media, and the checkout and return of that media.
    </p>
    <img src="~/img/library.jpg" alt="media library" class="img-fluid mx-auto" style="max-width: 500px;" />
</div>
