@if(User.Identity?.IsAuthenticated ?? false)
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
else
{
    <a asp-action="Login" asp-controller="Account">Log In</a>
}