<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello ASP.NET : Home</title>
    </head>
    <body>
        <h1>Hello ASP .NET!</h1>
        <p>&copy; @DateTime.Today.Year</p>
    </body>
</html>