<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Contacts" asp-action="List">Contacts</a>
        <a asp-controller="Home" asp-action="RadioButtonExample">Radio Buttons</a>
        <a asp-controller="Home" asp-action="CheckBoxListExample">Checkbox List</a>
    </nav> 

    @RenderBody()
    
    <footer>
        <p>&copy; @DateTime.Today.Year</p> 
    </footer>
    
    @RenderSection("Scripts", false)
</body>
</html>